{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}

{% block title %}Cliente{% endblock title %}


{% block dashboard %}


<div class="card">
    <div class="col-md-12 p-lg-0">
        <div class="card-header">
            <h1 class="form-title">Novo Cliente</h1>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}
                    
                    {% csrf_token %}
                    {{ form.as_p }}

                    {{ form_telefone.management_form }}
                    {{ form_telefone.non_form_errors }}

                    {% for field in form_telefone %}
                    <div class="table_inline_form">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="mt-2">
                    <p class="pt-2">
                        <input type="submit" class="btn btn-dark" value="Save" />
                    </p>
                    <p class="pt-2">
                        <a href="{% url 'formset:clientes_list' %}" class="btn btn-secondary">Cancelar</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>   

{% endblock %}


{% block scripts %}

<script type="text/javascript">
    $(function() {
        $('.table_inline_form').formset({
            prefix: '{{ form_telefone.prefix }}',
            addText: 'Add',
            deleteText: 'Remove',
        });
    })
</script>

{% endblock scripts %}
