{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}Cliente{% endblock title %}


{% block dashboard %}


<div class="card">
    <div class="col-md-12 p-lg-0">
        <div class="card-header">
            <h1 class="form-title">Detalhes do Cliente</h1>
        </div>
        <div class="card-body">
        {% for field in objects %}
            <p>ID: {{ field.id }}</p>
            <p>Name: {{ field.name }}</p>
            <p>Email: {{ field.email }}</p>
            <p>Etnia: {{ field.ethnicity }}</p>
            <p>Status:{{ field.status }}</p>
            <p class="pt-2">
                <a href="{% url 'clientorders:client_update' field.pk %}" class="btn btn-dark">Editar Cliente</a>
            </p>
        {% endfor %}
        </div>
    </div>
</div>
<hr>
<p class="pt-2">
    <a href="{% url 'clientorders:dashboard' %}" class="btn btn-secondary">Sair</a>
</p>

{% endblock %}