{% extends 'clientorders/main_template.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


<div class="card">
    <div class="col-md-12 p-lg-0 p-0">
        <div class="card-header">
			{% if action == 'create' %}
				<h3>Criar Pedido</h3>
			{% elif action == 'update' %}
				<h3>Editar Pedido</h3>
			{% endif %}			
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<form action="" method="POST">
            	{% csrf_token %}
				{% for field in form %}
					{{field.label}}
					{{field|add_class:'form-control'}}
				
				{% endfor %}
                <div class="mt-2">
                    <p class="pt-2">
                        <input type="submit" class="btn btn-dark" value="Save" />
                    </p>
                    <p class="pt-2">
                        <a href="{% url 'clientorders:clients_list' %}" class="btn btn-secondary">Cancelar</a>
                    </p>
                </div>
			</form>
		</div>
	</div>
</div>

{% endblock %}