{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}

{% block title %}Author{% endblock title %}


{% block dashboard %}


<div class="card">
    
    <div class="col-md-12 p-lg-0">
        <div class="card">
            <div class="card-header">
                <h4>Author Register</h4>
            </div>
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}
                    
                    {% csrf_token %}

                    {{ form.non_form_errors }}
                    
                    {% for field in form %}
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}                    
                    {% endfor %}
                </div>
                <div class="mt-2">
                    <div class="">
                        <input type="submit" class="btn btn-dark" value="Cadastrar" />
                        <a href="{% url 'dashboard' %}" role="button" class="btn btn-secondary">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>   



{% endblock %}


{% block scripts %}

<script type="text/javascript">
    $(function() {
        $('.table_inline_form').formset({
            prefix: '{{ product.prefix }}',
            addText: 'Add',
            deleteText: 'Remove',
        });
    })
</script>

{% endblock scripts %}

