{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}

{% block title %}Author{% endblock title %}


{% block dashboard %}

<h3>Authors Book Details</h3>
<div class="d-flex d-flex-inline">
    <span class="pe-2">
        Authors name:
    </span>
    <h5>{{ author.name|title }}</h5>
</div>
<hr>
    {% for book in author.book_author.all %}
    
    <div class="small">Boomk ID: {{ book.id }}</div>
    <div>Title: {{ book.title }}</div>
    {% endfor %}
<p>
    <a href="{% url 'order:author_books_update' author.pk %}" role="button" class="btn btn-primary">Edit Authors Books</a>
    <a href="" class="btn btn-secondary">All Collection</a>
    <a href="{% url 'order:authors_list' %}" class="btn btn-secondary">Return</a>
</p>

{% endblock %}