{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}

{% block title %}Pedidos{% endblock title %}


{% block dashboard %}


<main id="form-dash">
    <div class="container-fluid pt-2">
        <div class="card p-2">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h2 class="form-title">Pedidos</h2>                        
                </div>
            </div>
        </div>
        <div class="card p-2">
            <div class="table-responsive" >
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Pedido</th>
                            <th>Nome</th>
                            <th>email</th>
                            <th>Etnia</th>
                            <th>Criado em</th>
                            <th>Detalhes</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Pedido</th>
                            <th>Nome</th>
                            <th>email</th>
                            <th>Etnia</th>
                            <th>Criado em</th>
                            <th>Detalhes</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for order in object_list %}
                        <tr>
                            <td>{{ order.status }}</td>
                            <td>{{ order.client }}</td>
                            <td>{{ order.client.email }}</td>
                            <td>{{ order.client.ethnicity }}</td>
                            <td>{{ order.created_at|date }}</td>
                            <td align="center">
                                <a href="{{ order.get_absolute_url_update }}" class="btn">
                                    <i class="zmdi zmdi-edit material-icons-name"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}