{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}

{% block title %}Detalhes Cliente{% endblock title %}


{% block dashboard %}


<main id="form-dash">
    <div class="container-fluid pt-2">
        <div class="card p-2">
            <h2 class="form-title">Pedidos</h2>  
        </div>
        <h3>Oreder products Details</h3>
        <div class="d-flex d-flex-inline">
            <span class="pe-2">
                Order ID:
            </span>
            <h5>{{ fsorders.id|title }}</h5>
        </div>
        <hr>
            {% for order in fsprderproducts.order.all %}
            
            <div class="small">Order ID: {{ order.id }}</div>
            <div>Produto: {{ order.product }}</div>
            {% endfor %}
        <p>
            <a href="{ url 'order:author_books_update' author.pk %}" role="button" class="btn btn-primary">Edit Order Products</a>
            <a href="" class="btn btn-secondary">All Orders</a>
            <a href="{ url 'order:orders_list' %}" class="btn btn-secondary">Return</a>
        </p>
    </div>
</main>


{% endblock %}