{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}

{% block title %}Detalhes Cliente{% endblock title %}


{% block dashboard %}


<div class="card">
    <main id="form-dash">
        <div class="container-fluid pt-3">
            <div class="card mb-2">
                <div class="card-header">
                    <h2>Cliente</h2>
                </div>
                <div class="col-md-12 p-lg-0">
                    <div class="card-header">
                        <h4>Pedido</h4>        
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in product %}    
                                {{ field.errors }}
                                {{ field.label_tag }}
                                {{ field|crispy }}
                            {% endfor %}
                            <div class="mt-2">
                                <input type="submit" class="btn btn-dark" value="Salvar" />
                            </div>
                        </form>
                    </div>  
                </div>
            </div>
        </div>
    </main>
</div>


{% endblock %}