{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}

{% block title %}Detalhes Cliente{% endblock title %}


{% block dashboard %}


<main id="form-dash">
    <div class="container-fluid pt-2">
        <div class="card p-2">
            <h2 class="form-title">Pedidos</h2>  
        </div>

            <form action="" method="post">
                {% csrf_token %}
                {% for field in product %}
                <div class="card mb-1">
                    <div class="card-header">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field|crispy }}
                    </div>
                </div>   
                {% endfor %}
                <div class="mt-2">
                    <input type="submit" class="btn btn-dark" value="Salvar" />
                </div>
            </form>

    </div>
</main>


{% endblock %}