{% extends 'dashboard.html' %}


{% load i18n account static crispy_forms_tags %}

{% block title %}Pedido{% endblock title %}


{% block dashboard %}


<div class="card">
    <div class="card-header">
        <h2>Cliente</h2>
    </div>
    <div class="row">
        <div class="col-5 card-body px-4 py-2">
            <p>Nome: <b>{{ object.name }}</b> - Telefone: <b>{{ object.celphone }}</b><br />
                Email: <b>{{ object.email }}</b> - Mídia Social: <b>{{ object.socialmedia }}</b><br />
                Etnia: <b>{{ object.ethnicity }}</b><br />
                Cadastro: <b>{{ object.get_status_display }}</b><br />
                Criado em: <b>{{ object.created_at|date }}</b> <br />
            </p>
        </div>
        <div class="col-4 card-body">
            <p>
                Rua: <b>{{ object.street }}</b>, Número: <b>{{ object.number }}</b>, Complemento: <b>{{ object.complement }}</b>,</br>
                Cidade: <b>{{ object.city }}</b>, Estado: <b>{{ object.state }}</b>,</br>
                Criado em: <b>{{ object.created_at|date }}</b><br />
            </p>
        </div>
        <div class="col-2 p-2">
            <a href="{% url 'client:client_update' client.pk %}" class='btn btn-dark'>Editar</a>
        </div>
    </div>
    <div class="col-md-12 p-lg-0">
        <hr class="m-0 p-0">
        <div class="card-header">
            <h4>Pedido</h4>
        </div>
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}

                <!-- {{ form_products.management_form }}
                
                {% for product in form_products %}
                <hr>
                {{ product }}

                {% endfor %} -->
                <div class="mt-2">
                    <div class="">
                        <input type="submit" class="btn btn-dark" value="Salvar" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>   



{% endblock %}


{% block scripts %}

<script type="text/javascript">
    $(function() {
        $('.table_inline_form').formset({
            prefix: '{{ product.prefix }}',
            addText: 'Add',
            deleteText: 'Remove',
        });
    })
</script>

{% endblock scripts %}

