{% extends 'home.html' %}


{% block pedidos %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div>
                <h1>Pedidos
                <a class='btn btn-primary float-right' href="{% url 'pedido:register_order' %}">Novo pedido</a></h1>
            </div>
        </div>
    </div>
    <br>
    <table class="table">
        <thead><tr>
            <th>Pedido</th>
            <th>Data</th>
            <th>Pgto</th>
            <th>Retirar</th>
            <th>Situação</th>
            <th>Data entrega</th>
            <th>Total Pedido</th>
            <th>Ação</th>
        </tr></thead>
        <tbody>
        {% for pedido in object_list %}
        <tr>
        <td><a href="#">{{ pedido.id }}</a></td>
        <td>{{ pedido.criadoem }}</td>
        <td>{{ pedido.formapgto }}</td>
        <td>{{ pedido.retirar }}</td>
        <td>{{ pedido.status }}</td>
        <td>{{ pedido.data }}</td>
        <td>{{ pedido.total }}</td>
        <td>
            <a href="{% url 'pedido:edit_order' pedido.pk %}">
            <i class="fa fa-edit"></i>
            </a>
            <a href="{% url 'pedido:delete_order' pedido.pk %}" style="padding-left: 7px">
            <i class="fa fa-close no"></i>
            </a>
        </td>
        </tr>
        {% empty %}
        <tr>
            <td>Nenhum pedido registrado</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>   
</div>
{% endblock pedidos %}


